==
function onStart() {
    $this->page['query'] = input('q');
}
==
<div class="top-bar">
    <div class="container">
        <div>
            {% partial 'session' %}
        </div>
        <div>
            {% component 'currencyPicker' %}
            {% component 'localePicker' %}
        </div>
    </div>
</div>
<header>
    <div class="container">
        <div>
            <form action="{{ 'search' | page }}" method="get">
                <input name="q"
                       type="text"
                       value="{{ query }}"
                       class="mb-0 mall-input mall-input-sm"
                       placeholder="{{ 'offline.mall::frontend.search' | trans }}"
                       autocomplete="off">
                <button type="submit" class="hidden" aria-hidden="true">Search</button>
            </form>
        </div>
        <div>
            <a href="{{ '/' | app }}" class="text-3xl no-underline uppercase logo text-primary ">
                <span>Mall</span>
            </a>
        </div>
        <div>
            <div class="mall-account-button">
                {% partial 'accountButton/default' %}
            </div>
            <div class="mall-account-button">
                {% partial 'wishlist' %}
            </div>
            <div class="mall-cart-button">
                {% partial 'cartButton/default' %}
            </div>
        </div>
    </div>
</header>
