description = "Affiche des produits pour la home page"

[viewBag]

[products]
filterComponent = "productsFilter"
setPageTitle = 0
includeVariants = 1
includeChildren = 1
perPage = "{{ perPage }}"
paginate = 0
sort = "{{ sort }}"
==
<section class="home-products">



    <div class="container pb-6 prose max-w-none lg:prose-lg">
        <h2>{{ 'home.latest_products.title' | _ }}</h2>

        {% if description %}
            <p class="text-center text-primary">{{ description }}</p>
        {% endif %}

        {% component 'products' %}

        {% if showbutton != '0' %}
        <div class="text-center">
            <a href="{{ 'shop/index' | page }}" class="btn btn--primary">Tous nos produits</a>
        </div>
        {% endif %}
    </div>
</section>
{% put scripts %}
<style>

</style>
{% endput %}
