{% for item in items -%}
    {% if not item.viewBag.isHidden %}
        <li class="nav-item {{ isSubnav ? 'block' : 'lg:inline-block mr-8' }}{{ item.items ? ' has-children' : '' }}">
            {% if item.url %}
                {% set itemCss = (
                    (isSubnav ? ' px-4 py-2 block')
                    ~ (item.isActive ? ' active' : '')
                    ~ (item.isChildActive ? ' child-active' : '')
                    ~ (' '~ item.viewBag.cssClass)
                    ) | trim
                %}
                <a role="presentation" href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}
                   {{ (itemCss ? 'class="'~ itemCss ~'"') | raw }}
                >
                    {{ item.title }}
                </a>
            {% else %}
                <span class="no-underline text-grey-dark hover:text-grey-darker">{{ item.title }}</span>
            {% endif %}
            {% if item.items %}
                <ul>
                    {% partial __SELF__ ~ "::items" items=item.items isSubnav=true %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{%- endfor %}
