/*-------------------------------------------------
 *  Mall tables
 *-------------------------------------------------*/

table.mall-table,
table.mall-cart__table {
    @apply w-full my-0 text-left;
    border-collapse: collapse;

    :where(tbody td) {
        @apply text-sm leading-normal border-t border-neutral whitespace-nowrap;
        @apply align-top;
    }

    :where(thead th) {
        @apply font-semibold text-neutral bg-base-200;
    }

    :where(thead th:first-child),
    :where(tbody td:first-child, tfoot td:first-child) {
        padding-inline-start: 0.5714286em;
    }

    :where(thead th:last-child),
    :where(tbody td:last-child, tfoot td:last-child) {
        padding-inline-end: 0.5714286em;
    }


    :where(tbody td) {
        img {
            @apply my-0;
        }
        select {
            @apply inline-block!;
        }
    }
}
