.mall-payment-method {
    @apply mt-4;

    .mall-payment-method__entry {
        @apply relative z-0 flex items-center border lg:py-4 border-base-100;

        &.mall-payment-method__entry--active {
            @apply z-10 items-start bg-white border shadow-md opacity-100 border-base-200;

            .mall-payment-method__text {
                @apply opacity-100;
            }
        }
    }

    .mall-payment-method__logo {
        width: 180px;
        @apply flex items-start justify-center;
        img {
            @apply block w-auto max-w-full;
        }
    }

    .mall-payment-method__text {
        @apply flex items-center flex-1 opacity-50;

        > div {
            @apply w-full;
        }
        .mall-payment-method__name {
            @apply font-bold;
        }
    }

    .mall-payment-method__description,
    .mall-payment-method__instructions {
        @apply mt-4 text-xs leading-tight;
    }

    .mall-payment-method__toggle {
        .mall-payment-method__meta {
            @apply mt-2 text-sm leading-normal text-neutral;
        }
        .mall-payment-method__data {
            @apply w-full mt-4;

            .mall-form-control {
                div.mall-input {
                    @apply grid place-items-center;
                    
                    > div {
                        @apply w-full;
                    }
                }
            }
        }
    }

    .mall-payment-method__selector {
        width: 180px;
        @apply relative z-20;
    }
    .mall-payment-method__select-button {
        @apply base-btn;
        @apply float-right mr-4 whitespace-nowrap;
    }
    .mall-payment-method__submit {
        @apply mt-4;
    }
    .mall-form-control {
        @apply mb-2;
    }
    [data-validate-for] {
        @apply mt-0 mb-4;
    }
    .mall-payment-method__customer-methods {
        @apply mt-8;
    }
}

.mall-payment-customer-methods {
    @apply flex justify-start text-xs;
}

.mall-payment-customer-method {
    @apply relative flex flex-none p-3 mr-4 border rounded-sm shadow border-base-300;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: .2s ease;
    transition-property: border-color, box-shadow;

    .mall-payment-customer-method__name {
        @apply font-bold truncate whitespace-nowrap;
    }
    .mall-payment-customer-method__meta {
        @apply flex justify-between w-32 mt-2;
    }
    &:hover {
        @apply shadow-md border-base-200;
    }
}
