/*-------------------------------------------------
 *  Mall product details
 *-------------------------------------------------*/

.mall-product {
    @apply flex gap-4 lg:gap-8;

    /* Global layout */
    .mall-product__info {
        @apply grow;

        > h2 {
            @apply mt-0 mb-2;
        }
    }
    .mall-product__cart {
        @apply min-w-1/4;
    }
    .mall-product__images {
        @apply flex flex-wrap gap-4;

        .mall-product__image {
            @apply flex p-2 border-2 border-base-200;
            width: calc(100% / 3 - 1rem);

            &:nth-child(3n) {
                @apply mr-0;
            }

            img {
                @apply block object-contain size-full my-0!;
            }
        }
    }

    /* Main view */

    .mall-product__description {
        @apply mb-8;
    }

    /* Side view */

    .mall-product__variants,
    .mall-product__variant-properties,
    .mall-product__price,
    .mall-product__property-stock {
        @apply mb-4;
    }

    .mall-product__variants-heading {
        @apply mb-4;
    }
    .mall-product__variants {
        @apply flex;

        img {
            @apply my-0;
        }
    }

    .mall-product__properties {
        @apply mb-8 text-sm;

        p {
            @apply my-0!;
        }
    }

    .mall-product__properties-heading {
        @apply pb-1 mt-4 mb-2 border-b border-base-300;
    }

    .mall-product__custom-fields {
        @apply mb-8;
        .mall-option-selector {
            @apply inline-block border-2 border-base-200;
            width: 24px;
            height: 24px;

            &.is-active {
                @apply shadow border-base-300;
            }

            img {
                display: block;
            }
        }
    }

    .mall-product__price {
        @apply pt-4 border-t border-base-200;
    }

    .mall-product__old-price {
        @apply mb-1 text-sm font-bold line-through text-error;
    }

    .mall-product__current-price {
        @apply text-2xl font-bold text-base-content;
    }

    .mall-product__tax-info {
        @apply mt-2 mb-4 text-xs text-neutral;
    }

    .mall-product__property-stock {
        @apply mt-2 text-xs text-neutral;
    }

    .mall-product__add-to-cart-form {
        @apply grid gap-4;
        @apply pt-4 border-t border-base-200;
    }
}

.mall-add-to-cart-button {
    @apply base-btn;
    @apply w-full font-bold uppercase text-shadow-md;

    --btn-color: var(--color-primary);
    --btn-fg: var(--color-primary-content);
}


.mall-add-to-wishlist-button {
    @apply bg-transparent;
}

.mall-color-swatches {
    @apply flex justify-start;

    .mall-color-swatches__swatch {
        @apply border-2 size-6 mr-1.5;

        &.is-active {
            @apply border-primary;
        }
    }
}

.mall-product-service {
    &:not(:last-child) {
        margin-bottom: 4rem;
    }
    .mall-product-service__name {
        margin-bottom: 1rem;
    }
    .mall-product-service__description {
        @apply text-sm text-base-content;
        margin-bottom: 1rem;
    }
    .mall-product-service__required {
        @apply mb-4 text-sm;

        &[data-validate-for] {
            @apply ml-0;
        }
    }
}

.mall-product-service-options {
    @apply border-b border-base-100;
}

.mall-product-service-option {
    @apply text-sm border-t border-base-100 text-base-300;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;

    .mall-product-service-option__radio {
        flex: 0 1 40px;
    }
    .mall-product-service-option__name {
        flex: 1 1 auto;
    }
    .mall-product-service-option__price {
        flex: 1 0 100px;
        text-align: right;
        font-weight: bold;
    }
    .mall-product-service-option__description {
        @apply text-xs text-base-content;
        margin-top: .5rem;
        padding-left: 40px;
        padding-right: 100px;
        flex: 1 0 100%;
    }
}

.mall-product-service-error {
    @apply p-4 text-sm text-center rounded bg-error/50;
    margin-left: 0;
    margin-top: 2rem;
}


.mall-product-related {

    .mall-products__products {
        @variant @lg/products {
            @apply grid-cols-2!;
        }
        @variant @xl/products {
            @apply grid-cols-2!;
        }

        @variant @3xl/products {
            @apply grid-cols-4!;
        }
    }
}
