/*-------------------------------------------------
 *  Mall review
 *-------------------------------------------------*/

.mall-product-reviews {
    @apply border-t border-accent;
    @apply mt-6;

    .mall-product-reviews__heading {
        @apply mb-6;
    }

    .mall-product-reviews__info {
        @apply flex py-6 border-t border-base-300;

        .mall-product-reviews__info-name {
            @apply text-sm font-bold text-neutral basis-30;
        }

        .mall-product-reviews__info-content {
            @apply flex-[1_1_auto];

            .mall-product-reviews__login-required {
                @apply text-sm text-accent;
            }
        }
    }

    .mall-product-reviews__summary {
        @apply text-xs text-base-content;

        [data-validate-for] {
            @apply mt-1 mb-8 ml-2;
        }
    }

    .mall-product-reviews__form-details {
        @apply flex flex-col gap-2 overflow-hidden max-h-0;
        transition: .2s ease-out max-height;

        &.mall-product-reviews__form-details--visible {
            @apply pt-4 max-h-187.5;
        }
    }

    .mall-product-reviews__overall-ratings {
        @apply flex justify-between gap-2;

        .mall-star {
            @apply size-6;
        }

        > div {
            flex: 1 1 50%;
        }
    }

    .mall-callout {
        @apply w-full;
    }
}

.mall-reviews {
    @apply border-t border-base-300;
    container: reviews / inline-size;
}

.mall-pagination--reviews {
    @apply mt-8;
}

/* Review from users */
.mall-review {
    @apply grid gap-2 pb-4 mt-4 text-sm border-b border-base-300;

    .mall-review__rating {
        @apply whitespace-nowrap;

        .mall-star {
            @apply size-4;
        }
    }

    .mall-review__title {
        @apply text-sm text-base-content my-0!;
    }

    .mall-review__subtitle {
        @apply text-xs font-normal text-neutral;
    }

    .mall-review__content {
        @apply text-base leading-normal;
    }

    .mall-review__author {
        @apply text-xs text-base-content;
    }

    .mall-review__details {
        @apply flex justify-between;

        .mall-review__category-reviews {
            @apply w-1/2;
        }
    }
    .mall-review__pro-con-list {
        @apply text-xs text-neutral;

        li {
            @apply mb-1;
        }
    }
}

.mall-category-review {
    --star-size : 14px;

    @apply flex items-center justify-between mb-2 text-xs text-base-content;

    .mall-category-review__name {
        @apply flex-[1_1_auto];
    }

    .mall-category-review__rating {
        @apply basis-22.5 whitespace-nowrap shrink-0;

        .mall-category-review__rating--clickable .mall-star {
            @apply cursor-pointer;
        }

        .mall-star {
            @apply size-(--star-size);
        }
    }

    &.mall-category-review--big .mall-category-review__rating {
        --star-size: 20px;
        @apply basis-30;
    }
}

.mall-star {
    @apply inline;

    .mall-star__bg {
        fill: transparent;
    }

    .mall-star__border {
        fill: var(--color-accent);
    }

    &.mall-star--hover {
        .mall-star__bg,
        .mall-star__border {
            fill: var(--color-neutral-content);
        }
    }

    &.mall-star--active {
        .mall-star__bg,
        .mall-star__border {
            fill: #FAC917;
        }
    }

    .mall-review__details &.mall-star--active {
        @apply text-base-300;
        .mall-star__bg,
        .mall-star__border {
            fill: currentColor;
        }
    }
}
