/*-------------------------------------------------
 *  Mall signup/signin form
 *-------------------------------------------------*/

.mall-signup {
    @apply grid gap-8 m-auto lg:max-w-4/5 lg:grid-cols-2;

    .mall-signup__signup,
    .mall-signup__signin {
        @apply px-4 py-2 border rounded lg:px-8 lg:py-4 border-base-300;

        form,
        .mall-signup__billing-address,
        .mall-shipping-address {
            @apply grid gap-2;
        }
    }

    :where(h3) {
        @apply mt-0!;
    }
    input:where([type="checkbox"]) {
        --input-color: var(--color-secondary-content);
    }

    .mall-signup__billing-address,
    .mall-shipping-address {
        @apply mt-4;
    }

    &:has(input[name="use_different_shipping"]:checked) {
        .mall-shipping-address {
            @apply grid! mt-4;
        }
    }

    .mall-signup__subheading {
        @apply mt-2 mb-0 leading-normal;
    }
    .mall-form-actions {
        @apply mt-4;
    }

    .mall-signup-terms {
        @apply px-4 py-3 my-4 border rounded bg-base-200 border-accent;

        input {
            --input-color: var(--color-success);
        }
    }
}
