/*-------------------------------------------------
 *  Default layout
 *-------------------------------------------------*/
@view-transition {
    navigation: auto;
}

:root {
    scrollbar-color: color-mix(in oklch, currentColor 35%, #0000) #0000;
    overflow: var(--page-overflow);
}

body {
    /* font-family: Overpass, Arial, Helvetica, sans-serif; */
    @apply flex flex-col min-h-screen;
}


footer {
    @apply py-6 grow text-bar-content border-t-6 border-bar-border;
    @apply bg-bar bg-linear-to-bl from-bar to-bar2;

    :where(a) {
        @apply underline text-accent-400;
    }

    .winter-logo {
        @apply inline-block w-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-400;

        > svg {
            @apply text-white transition-colors fill-current w-52 lg:w-full group-hover:text-accent-400;
        }
    }

    .container {
        @apply flex items-center justify-between gap-8;

        > div {
            &:first-child {
                @apply w-full lg:w-72 lg:flex-shrink-0;
            }
        }
    }
}
