description = "Affiche des produits pour la home page"

[viewBag]

[products]
filterComponent = "productsFilter"
setPageTitle = 0
includeVariants = 1
includeChildren = 1
perPage = "{{ perPage }}"
paginate = 0
sort = "{{ sort }}"
==
<section class="prose home-products max-w-none lg:prose-lg">
    <div class="container pb-6">
        <h2>{{ 'home.latest_products.title' | _ }}</h2>
        {% if description %}
            <p class="text-primary">{{ description }}</p>
        {% endif %}

        {% component 'products' %}

        {% if showLink != '0' %}
        <div class="text-center">
            <a href="{{ 'shop/category' | page({'slug': null}) }}" class="btn btn-primary">{{ 'home.latest_products.button' | _ }}</a>
        </div>
        {% endif %}
    </div>
</section>
