description = "Affiche des produits pour la home page"

[viewBag]

[products]
category = {{ category }}
filterComponent = "productsFilter"
setPageTitle = 0
includeVariants = 1
includeChildren = 1
perPage = "{{ perPage }}"
paginate = 0
sort = "{{ sort }}"
==
<?php
    function onEnd()
    {
        $this['title'] = $this?->category?->name;
        $this['description'] = $this?->category?->meta_description;
        $this['categorySlug'] = $this?->category?->slug ?? null;
    }
?>
==
<section class="prose home-products max-w-none lg:prose-lg{{ sectionCss ? (' '~ sectionCss) : '' }}">
    <div class="container pb-6">
        <h2 class="mb-4!">{{ title | default('home.latest_products.title' | __)}}</h2>
        {% if description %}
            <p class="text-primary">{{ description }}</p>
        {% endif %}

        {% component 'products' %}

        {% if showButton != '0' %}
        <div class="text-center">
            <a href="{{ 'shop/category' | page({'slug': categorySlug}) }}" class="btn btn-primary">
                {{ (buttonTransKey | default('Show all products')) | __ }}
            </a>
        </div>
        {% endif %}
    </div>
</section>
